.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width:  90%;
    max-width:600px;
}

.content{
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 600px;
    border-radius: 10px;
}

.informations{
    display: flex;
    justify-content:space-between;
    width: 100%;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image{
    width: 200px;
    height: 200px;
    position: relative;
}

.title{
    font-weight: bold;
    margin-top: 1rem;
}

.notFoundContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.imageContainer{
    margin-top: 1rem;

    &:hover{
        cursor: pointer;
    }
}

@media(max-width:690px) {
    .informations{
        flex-direction: column;
    }

    .details{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

// @media(max-width: 570px){
//     .informations{
//         flex-direction: column;
//     }

//     .details{
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;
//     }
// }