.container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 200px;
    min-height: 130px;
    border-radius: 20px;
    background-color: #f7f7f7;
    color: var(--text);
    transition-property: transform;
    transition-property: box-shadow;
    transition-duration: .2s;
    padding: 0 1rem;

    &:hover {
        transform: scale(1.05);
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }
}

.skeleton {
    display: flex;
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.cardContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: .9rem;
}

.nextImage {
    position: relative;
    display: flex;
    width: 70px;
    height: 70px;

    img {
        position: absolute;
        width: auto;
        height: auto;
    }
}

.typesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;

    p {
        display: flex;
        background-color: #e3e3e3;
        padding: 0 .5rem;
        justify-content: center;
        border-radius: 40px;
    }
}

@media(max-width:455px) {
    .container {
        width: 90vw;
        max-width: 320px;
        padding: 0 3rem;
    }
}