.container{
    border: none;
    border-radius: 10px;
    padding: 24px;
    width: 200px;
    box-shadow: -5px 5px 5px rgba(0,0,0,0.3);
    transition: all 0.3s;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;

    &:hover{
        transform: scale(1.05);
    }
}

.title{
    font-size: 1rem;
}

.image{
    width: 70px;
    height: 70px;
    position: relative;
}

.types{
    font-size: 1rem;
}