:root {
  --primary: #EF3F35;
  --text: #3d3d3d;
  --white-text: #f3e9e1;
  --background: #ffffff;
  --dark-background: #e9e9e9;

  --yellow: #FFCB05;
  --blue: #306CB3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--text);
  background-color: var(--background);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
  color: var(--text);
}

li {
  list-style: none;
}

input:focus {
  outline: 0;
}

p {
  font-size: 1rem;
}

.main {
  display: flex;
  width: 90vw;
  max-width: 950px;
  margin: 0 auto;
  // height: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.link {
  color: var(--yellow);
  font-weight: bold;
  transition: all .2s;

  &:hover {
    cursor: pointer;
    filter: opacity(0.8)
  }
}

.loadingimage {
  width: 200px;
  // max-width: 450px;
  height: 200px;
  position: relative;

  img {
    object-fit: contain;
    position: absolute;
    width: inherit;
    height: inherit;
  }
}

.loader {
  border: 2px solid white;
  border-top: 2px solid gray;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;
  position: absolute;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

//types
.grass {
  border-left: solid 20px #49D0B0;
}

.fire {
  border-left: solid 20px #FC6C6D;
}

.water {
  border-left: solid 20px #76BEFE;
}

.bug {
  border-left: solid 20px #52b354;
}

.normal {
  border-left: solid 20px #ededed;
}

.poison {
  border-left: solid 20px #a680ff;
}

.flying {
  border-left: solid 20px #94f4ff;
}

.rock {
  border-left: solid 20px #CAC9C0;
}

.electric {
  border-left: solid 20px #fcd112;
}

.fairy {
  border-left: solid 20px #ca61ff;
}

.ground {
  border-left: solid 20px #ab6e3f;
}

.fighting {
  border-left: solid 20px #ABB2C9;
}

.psychic {
  border-left: solid 20px #EDD258;
}

.steel {
  border-left: solid 20px #7b8e94;
}

.ice {
  border-left: solid 20px #a0bcdb;
}

.ghost {
  border-left: solid 20px #8E748F;
}

.dark {
  border-left: solid 20px #292527;
}

.dragon {
  border-left: solid 20px #ff7809;
}