.container{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.pokeCard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
}