.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-bottom: 2rem;
    width: 100%;
    max-width: 400px;
    padding: 0;
    position: relative;
}

.searchIcon {
    display: flex;
    transition: filter .3s;
    position: absolute;
    right: 10px;

    svg {
        color: var(--text);
    }

    &:hover {
        cursor: pointer;
        filter: opacity(0.8);
    }
}

.input {
    width: 100%;
    max-width: 400px;
    padding: .5rem 1rem;
    border-radius: 5px;
    border: solid .1px gray;
}