.header {
    display: flex;
    background-color: var(--primary);
    color: var(--white-text);
    width: 100%;
    height: 8vh;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 90vw;
    flex-wrap: wrap;
    position: relative;
}

.logoAndSideButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
    border: 1px solid transparent;
    transition: all .2s;
    cursor: pointer;

    span {
        font-size: .9rem;
        font-weight: regular;
    }

    &:hover {
        filter: opacity(0.8);
    }
}

.searchbar {
    display: flex;
    align-items: center;
    width: 25rem;
    max-width: 90vw;

    input {
        width: 80%;
        padding: .4rem;
        border-radius: 5px 0 0 5px;
        border: 1px solid var(--background);
    }

    button {
        width: 20%;
        padding: .4rem;
        border-radius: 0 5px 5px 0;
        border: 1px solid transparent;
        color: var(--text);
        transition: all .2s;

        &:hover {
            background-color: var(--dark-background);
            cursor: pointer;
        }

        &:active {
            background-color: var(--dark-background);
        }
    }
}

.navigation {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navigationMenu {
    display: flex;
    gap: 1.5rem;
    margin-right: 2rem;

    li {
        border: 2px solid transparent;
        transition: all .2s;

        &:hover {
            border-bottom: 2px solid var(--yellow);
            cursor: pointer;
        }
    }

}

.selectedNavigation {
    border-bottom: 2px solid var(--yellow) !important;
}

.toggle {
    display: flex;
    font-size: .9rem;
    align-items: center;
    gap: 1rem;
}

//Tablet screen
.mobileIcon {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
}

.mobileIcon {
    display: none;
}

.mobileMenu {
    display: flex;
    align-items: center;
    z-index: 1;
    flex-direction: column;
    position: fixed;
    min-width: 280px;
    overflow: auto;
    width: 20%;
    height: 100vh;
    left: 0;
    bottom: 0;
    padding: 70px 0;
    background-color: white;
    justify-content: flex-start;
    transition: all .5s;

    h1 {
        color: var(--text);
        margin-bottom: 1rem;
    }

    ul {
        display: flex;
        color: var(--text);
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: .5rem;

        li {
            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: center;
            border-left: 4px solid transparent;
            width: 100%;
            padding: .3rem 0;
        }
    }
}

.selectedPage {
    color: var(--yellow);
    border-left: 4px solid var(--primary) !important;
}


.closeMenu {
    margin-left: -700px;
}

.openMenu {
    margin-left: 0;
    box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.5);
}

.closeIcon {
    position: absolute;
    left: 15px;
    top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media(max-width:1075px) {
    .toggle {
        display: none;
    }

    .navigationMenu {
        display: none;
    }

    .mobileIcon {
        display: flex;
    }

    .navigationMenu {
        margin-right: 0;
    }

    .logo {
        margin-left: 3rem;
    }
}

@media(max-width:670px) {
    .header {
        height: 15vh;
    }

    .nav {
        flex-direction: column;
    }

    .logoAndSideButton {
        width: 100%;
        justify-content: center;
    }

    .mobileIcon {}
}