.container{
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem;
}

.searchBar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    width: 100%;
    padding: 0;
    position:relative;
}

.input{
    width: 100%;
    max-width: 400px;
    padding: .5rem 1rem;
    border-radius: 5px;
    border: solid .1px gray;
}

.searchIcon{
    display: flex;
    margin-left: 1rem;
    transition: filter .3s;
    position: absolute;
    right: 10px;

    svg{
        color: var(--text);
    }

    &:hover{
        cursor: pointer;
        filter: opacity(0.8);
    }
}

.notFoundContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.imageContainer{
    margin-top: 1rem;

    &:hover{
        cursor: pointer;
    }
}

.link{
    font-weight: bold;
    transition: color .3s;

    &:hover{
        cursor: pointer;
        color: var(--primary);
    }
}